{% extends '海外頁面/框一.html' %}
{% block 標題 %}海外漢語方言資料庫{% endblock %}
{% block 內容 %}
	<h3>媠媠&nbsp;[sui2sui2]</h3>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>#</th>
			<th>地區</th>
			<th>年齡</th>
			<th>性別</th>
			<th>音檔</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>1</td>
			<td>彰化</td>
			<td>25歲</td>
			<td>男</td>
			<td>lala.mp3</td>
		</tr>
		<tr>
			<td>1</td>
			<td>花蓮</td>
			<td>25歲</td>
			<td>女</td>
			<td>lala.mp3</td>
		</tr>
		</tbody>
	</table>					
{% endblock %}