{% extends '海外頁面/框一.html' %}
{% block 標題 %}海外漢語方言資料庫{% endblock %}
{% block extrahead %}
{% load staticfiles %}<script src="{% static 'js/details.js' %}"></script>{% endblock %}
{% block 內容 %}

<p get-url-params data-lang="{{ 顯示語言 }}" data-hanji="{{ 顯示漢字 }}" data-ipa="{{ 顯示IPA }}"></p>
 
 <div  ng-app="app1">
<div ng-controller="detailController" class="row">
	<tabset class="col-xs-12" justified="true">
		<tab ng-repeat="tab in tabs" heading="{$ tab.lang $}" active="tab.active" select="redirectTo( tab.lang, $index )">
 			<br/>
			<br/>
			<div class="row">
				<div class="col-xs-3 listgroup">
					<!-- 左側的單詞或雙詞的數量目錄 -->
					<!-- <a ng-repeat="(type, contents) in tab.types" class="list-group-item">{$ type $}<span class="badge">{$ contents[1] $}</span></a> -->
				</div>
				
				<div class="col-xs-9">
					<h3>{$ Hanji $}&nbsp;[{$ IPA $}]</h3>
					<table class="table table-hover">
						<thead>
						<tr>
							<th>#</th>
							<th>地區</th>
							<th>年齡</th>
							<th>性別</th>
							<th>音檔</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="info in infos['wavs']">
							<td>{$ $index +1 $}</td>
							<td>{$ info.locate $}</td>
							<td>{$ info.age $}</td>
							<td>{$ info.sex $}</td>
							<td><a ng-href="{$ info.wav $}">音檔</a>
									<audio controls>
	  									<source src="{$ info.wav $}" type="audio/wav">
										你的瀏覽器不支援html5的audio標籤
									</audio>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				
			</div><!-- end class="row" -->
			<!-- <div id="雙詞">lalalal</div> -->
	</tab>
		
	</tabset>
</div> 

{% endblock %}