{% extends '海外頁面/框一.html' %}
{% block 標題 %}海外漢語方言資料庫{% endblock %}
{% block extrahead %}
{% load staticfiles %}<script src="{% static 'js/index.js' %}"></script>{% endblock %}
{% block 內容 %}

<p get-url-lang data-lang="{{ 初始顯示語言 }}" style="display:none;"></p>

<div ng-controller="indexController" class="row">
	<tabset class="col-xs-12" justified="true">
		<tab ng-repeat="tab in tabs" heading="{$ tab.lang $}" active="tab.active" select="refresh( tab.lang, $index )">
			
			<br/>
			<br/>
			<div class="row">
				<div class="col-xs-3 listgroup">
					<!-- 左側的單詞或雙詞的數量目錄 -->
					<a ng-repeat="(type, contents) in tab.types" class="list-group-item">{$ type $}<span class="badge">{$ contents[1] $}</span></a>
					
				</div>
				
				<div class="col-xs-9">
					<ul style="list-style-type:none;">
						<li ng-repeat="(type, contents) in tab.types">
							<!-- 單詞或雙詞，音檔數量 -->
							<p>{$ type $}</p>
							<!-- 漢字，音檔們 -->
							<ol>
								<li ng-repeat="content in contents[0]">
								<!-- <a ng-href="/{$ lang $}/{$ content.HanJi $}/{$ content.IPA $}/顯示同語言一漢字的所有音檔"> -->
									<a ng-href="/details/{$ lang $}/{$ content.HanJi $}/{$ content.IPA $}">{$ content.HanJi $}</a>, {$ content.IPA $}, 
									<a ng-href="{$ wav $}" ng-repeat="wav in content.wavs">音檔&nbsp;</a>
								</li>
							</ol>
							<br/>
						</li>
					</ul>
				</div>
				
			</div><!-- end class="row" -->
			<!-- <div id="雙詞">lalalal</div> -->
		</tab>
		
	</tabset>
</div>
{% endblock %}