{% extends '海外頁面/框一.html' %}
{% block 標題 %}海外漢語方言資料庫{% endblock %}
{% block 內容 %}

<p get-url-lang data-lang="{{ 初始顯示語言 }}" style="display:none;"></p>

<div  ng-controller="indexController">
	<tabset>
		<tab ng-repeat="tab in tabs" heading="{$ tab.lang $}" active="tab.active" select="refresh( tab.lang, $index )">
			<p>{$ $index $}</p>
			<ul>
				<li ng-repeat="(type, contents) in tab.types">
					<!-- 單詞或雙詞，音檔數量 -->
					<p>{$ type $}, {$ contents[1] $}</p>
					<!-- 漢字，音檔們 -->
					<ol>
						<li ng-repeat="content in contents[0]">
							{$ content.HanJi $}, {$ content.IPA $}, 
							<a href="{$ wav $}" ng-repeat="wav in content.wavs">音檔&nbsp;</a>
						</li>
					</ol>
				</li>
			</ul>
		</tab>
	</tabset>
</div>
{% endblock %}