<html>
<head>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular-route.js"></script>
	{% block extrahead %}{% endblock %}

</head>
<body ng-app="app1">
	<div ng-controller="DeleteController">
		<!-- 抓到網址內的語料編號參數 -->
		<p>$scope.$routeParams = {$  $routeParams $}, {$ value +1 $}</p>
		<form ng-submit="go()">
			<button type="submit">讀檔</button>
		</form>
		<ul>
			<li ng-repeat="file in files">{$ file[0] $}, {$ file[1] $} (<a ng-href="#" ng-click='RemoveFiles(file[0])'>delete</a>)</li>
		</ul>
	</div>
	{% load staticfiles %}
	<script src="{% static 'js/test_url_delete.js' %}"></script>
</body>
</html>