{% extends '海外頁面/後台框.html' %}
{% block 內容 %}

<p>目前的語料有：</p>

	{% for gi2 in 揣著語料 %}
	{{ gi2 }}<br/>
	{% endfor %}
	
	{% if 有xlsx檔 and 錯誤資訊%}
		<p>{{ xlsx檔名 }}, {{ 字數 }}</p>
		{{ 錯誤資訊 }}
	{% elif 有xlsx檔 %}	
		<p>{{ xlsx檔名 }}, {{ 字數 }}</p>
		<br/>
		<div class="row">
		<div class="col-xs-6">
		<table class="table table-striped">
			<thead><tr><th></th><th>Num</th><th>Word</th><th>IPA</th><th>Note</th></tr></thead>
			<tbody>
				{% for 行  in 音json %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ 行.Num }}</td>
					<td>{{ 行.Word }}</td>
					<td>{{ 行.IPA }}</td>
					<td>{{ 行.Note }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
		<div class="col-xs-6"></div>
	{% else %}
	<p>此語料沒有xlsx檔，請補。</p>
	{% endif %}
	
{% endblock %}